<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a th:href="@{/mostrarEstados}" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarDirec">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
