<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="encabezadoInicio">
            <section id="main-header" class="py-2 bg-info text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md6"></div>
                        <h1>
                            <i class="fas fa-cog"></i> [[#{plantilla.inicio}]]
                        </h1>
                    </div>
                </div>
            </section>
        </section>
        <section th:fragment="encabezadoVentas">
            <section id="main-header" class="py-2 bg-info text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md6"></div>
                        <h1>
                            <i class="fas fa-cog"></i> [[#{plantilla.ventas}]]
                        </h1>
                    </div>
                </div>
            </section>
        </section>
        <section th:fragment="encabezadoEnvaces">
            <section id="main-header" class="py-2 bg-info text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md6"></div>
                        <h1>
                            <i class="fas fa-cog"></i> [[#{plantilla.envaces}]]
                        </h1>
                    </div>
                </div>
            </section>
        </section>
        <section th:fragment="encabezadoCuentas">
            <section id="main-header" class="py-2 bg-info text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md6"></div>
                        <h1>
                            <i class="fas fa-cog"></i> [[#{plantilla.cuentas}]]
                        </h1>
                    </div>
                </div>
            </section>
        </section>
        <section th:fragment="encabezadoProductos">
            <section id="main-header" class="py-2 bg-info text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md6">
                        </div>
                        <h1>
                            <i class="fas fa-cog"></i> [[#{plantilla.productos}]]
                        </h1>
                    </div>
                </div>
            </section>
        </section>
        <section th:fragment="encabezadoTienda">
            <section id="main-header" class="py-2 bg-info text-white">
                <div class="container">
                    <div class="row">
                        <h1>
                            <i class="fas fa-cog"></i> [[#{plantilla.tienda}]]
                        </h1>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
