<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymelaf.org">
    <head th:replace="layout/plantilla :: bootstrap">
        <title>TODO supply a title</title>
    </head>
    <body>
        <section th:replace="layout/encabezados :: encabezadoVentas"></section>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="layout/agregarDireccion :: agregarDireccion"></section>
        <section th:replace="layout/listadoDirecciones :: listadoDirecciones"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
